In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from datetime import datetime as dt

In [8]:
df = pd.read_csv("activities.csv")
df.columns=df.columns.str.lower()
df

# selecting relevant columns
cols = ['activity id', 'activity date', 'activity type', 'elapsed time', 'moving time', 'distance',   
         'max heart rate', 'elevation gain', 'max speed', 'calories'
       ]
df = df[cols] 
df

,activity id,activity date,activity type,elapsed time,moving time,distance,max heart rate,elevation gain,max speed,calories
0,11470038800,"22 May 2024, 08:19:26",Walk,1266,1164.0,3.01,143.0,28.600000,3.080005,123.0
1,11470039023,"21 May 2024, 00:48:20",Run,1386,1374.0,3.05,201.0,40.599998,3.105999,157.0
2,11470243052,"21 May 2024, 21:53:08",Run,658,647.0,1.59,198.0,0.000000,3.890000,76.0
3,11470243289,"19 May 2024, 07:07:07",Run,1471,810.0,2.01,NaN,0.000000,4.702002,102.0
4,11470243423,"19 May 2024, 07:01:17",Run,301,301.0,0.77,NaN,0.000000,3.345999,37.0
5,11470243536,"18 May 2024, 07:19:05",Run,1719,1200.0,2.62,NaN,0.000000,3.376001,124.0
6,11470243862,"14 Apr 2024, 06:36:30",Run,2633,1185.0,3.09,199.0,15.926480,3.438000,131.0
7,11470243993,"9 Jan 2024, 06:54:46",Run,1765,1255.0,3.19,192.0,18.130556,5.061963,134.0
8,11470290443,"29 Dec 2023, 05:23:55",Run,1110,919.0,2.31,187.0,3.189474,8.793333,90.0
9,11476534443,"23 May 2024, 06:10:14",Run,1617,810.0,2.27,155.0,28.000000,4.752002,118.0
10,11476585894,"23 May 2024, 06:42:24",Run,374,374.0,1.05,203.0,10.600000,4.338000,42.0
11,11490128286,"25 May 2024, 02:09:16",Run,586,455.0,1.19,200.0,13.400000,3.638000,51.0
12,11490222687,"25 May 2024, 02:29:44",Run,1978,1655.0,4.00,195.0,21.000000,3.450000,193.0
13,11490360645,"25 May 2024, 03:45:59",Run,1030,1001.0,2.20,191.0,17.599998,3.943994,106.0
14,11498777386,"26 May 2024, 06:30:01",Run,1452,1392.0,3.20,194.0,25.200001,7.267999,154.0
15,11498781598,"26 May 2024, 06:30:51",Run,1430,1321.0,3.06,194.0,33.000000,4.883333,144.0
16,11498799175,"26 May 2024, 06:56:03",Run,201,190.0,0.53,193.0,9.000000,3.348000,21.0
17,11513656106,"28 May 2024, 00:58:41",Run,988,875.0,1.84,179.0,18.000000,4.016667,84.0
18,11520905115,"28 May 2024, 22:54:47",Run,3425,3220.0,6.04,173.0,55.000000,3.720000,258.0
19,11522274533,"29 May 2024, 06:18:11",Walk,392,134.0,1.00,138.0,3.799999,2.171997,33.0
20,11523191512,"29 May 2024, 07:44:32",Walk,1097,1041.0,2.72,140.0,37.599998,4.333984,114.0
21,11537951108,"31 May 2024, 06:18:44",Run,1854,901.0,2.34,171.0,36.000000,4.069995,121.0
22,11537956241,"31 May 2024, 06:19:15",Run,1795,1121.0,2.86,198.0,42.399998,8.529516,131.0
23,11551681161,"2 Jun 2024, 00:11:56",Run,2485,2258.0,5.03,192.0,58.000000,3.900000,234.0
24,11551802058,"2 Jun 2024, 00:57:07",Run,1753,1504.0,3.44,184.0,28.000000,3.583333,163.0
25,11559938586,"2 Jun 2024, 23:41:16",Run,1529,1500.0,2.85,169.0,26.000000,2.866016,122.0
26,11560190199,"2 Jun 2024, 23:44:01",Run,1369,1347.0,2.57,174.0,36.200001,3.187988,131.0
27,11576211014,"5 Jun 2024, 01:03:15",Run,2344,2219.0,5.00,188.0,44.000000,3.553333,233.0
28,11585126344,"6 Jun 2024, 04:19:42",Run,1616,1510.0,3.50,190.0,33.000000,4.040000,166.0
29,11599728164,"8 Jun 2024, 01:23:50",Run,2526,2452.0,6.02,195.0,71.000000,4.433333,288.0
30,11599836517,"8 Jun 2024, 02:08:19",Run,1617,1581.0,3.76,186.0,40.800003,3.402002,213.0
31,11677993982,"18 Jun 2024, 03:19:44",Run,1944,1941.0,5.03,202.0,46.000000,3.955957,244.0

In [11]:
df.dtypes

activity id         int64
activity date      object
activity type      object
elapsed time        int64
moving time       float64
distance          float64
max heart rate    float64
elevation gain    float64
max speed         float64
calories          float64
dtype: object

In [18]:
# breaking date into start time and date
df['activity_date'] = pd.to_datetime(df['activity date'],format='%d %b %Y, %H:%M:%S')
df['start_time'] = df['activity_date'].dt.time
df['start_date_local'] = df['activity_date'].dt.date
df['month'] = df['activity_date'].dt.month_name()
df['year'] = df['activity_date'].dt.year
df['year'] = (df['year']).astype(np.object) #change year from numeric to object
df['dayofyear'] = df['activity_date'].dt.dayofyear
df['dayofyear'] = pd.to_numeric(df['dayofyear'])

/var/folders/5y/63zwjh052z34fynmmym_032h0000gn/T/ipykernel_13293/4196845485.py:7: FutureWarning: In the future `np.object` will be defined as the corresponding NumPy scalar.
  df['year'] = (df['year']).astype(np.object) #change year from numeric to object

AttributeError: module 'numpy' has no attribute 'object'.
`np.object` was a deprecated alias for the builtin `object`. To avoid this error in existing code, use `object` by itself. Doing this will not modify any behavior and is safe.
The aliases was originally deprecated in NumPy 1.20; for more details and guidance see the original release note at:
    https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations